<div class="reset-container">
  <!-- Desktop Background -->
  <div class="desktop-background desktop-only"></div>

  <!-- Mobile Background -->
  <div class="mobile-background mobile-only"></div>

  <div class="reset-background">
    <div class="reset-card">
      <!-- Mobile Logo (inside form) -->
      <div class="mobile-logo mobile-only">
        <div class="logo">
          <!-- <img class="logo-icon" src="assets/naturalstatelogo.svg" alt="Natural State Logo" /> -->
          <span class="logo-text">  INSUPPLY HEALTH</span>
        </div>
      </div>

      <!-- Desktop Logo -->
      <div class="logo desktop-only">
        <div class="logo-icon"></div>
        <span class="logo-text">INSUPPLY HEALTH</span>
      </div>

      <h2>Reset Password</h2>

      <form [formGroup]="ResetForm" (ngSubmit)="onReset()">
        <div class="form-group">
          <label class="form-label employee-label">Email Address:</label>
          <input type="text" class="form-control " formControlName="username" placeholder="Enter Company Email">
        </div>

        <div class="captcha-container">
          <div class="captcha-image">
            <canvas #captchaCanvas width="300" height="100"></canvas>
          </div>
          <!-- <button type="button" class="refresh-captcha" (click)="generateCaptcha()" title="Refresh CAPTCHA">
            🔄
          </button> -->
        </div>

        <div class="form-group">
          <label class="form-label answer-label">Enter Answer ({{ captchaQuestion }}):</label>
          <input type="text" class="form-control" formControlName="captchaAnswer" placeholder="Answer" autocomplete="off">
        </div>

        <div class="button-group">
          <button type="submit" class="submit-btn" [disabled]="ResetForm.invalid || disableSubmit">
            @if(loading)
            {<span class="spinner"></span>
          }
            Send reset link</button>
          <button type="button" class="back-btn" (click)="backToLogin()">Back to log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
