    <div class="step-content">
      <div class="form-section">
        <h4>Profile Information</h4>

        <div class="summary-grid">
          <div class="summary-item">
            <label>Organization Name</label>
            <span>{{ personalInfoForm.get('legalNameOfOrganization')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Tax Registration No.</label>
            <span>{{ personalInfoForm.get('taxRegistrationNumber')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Physical Address</label>
            <span>{{ personalInfoForm.get('physicalAddress')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Phone Number</label>
            <span>{{ personalInfoForm.get('phoneNo')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Trading/Operaing Name</label>
            <span>{{ personalInfoForm.get('tradingName')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Date of Registration</label>
            <span>{{ personalInfoForm.get('dateRegistered')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Type Of Governing Body</label>
            <span>{{ personalInfoForm.get('governingBody')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Email Address</label>
            <span>{{ personalInfoForm.get('emailAddress')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Acronym(If Any)</label>
            <span>{{ personalInfoForm.get('acronym')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Postal Address</label>
            <span>{{ personalInfoForm.get('postalAddress')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Website</label>
            <span>{{ personalInfoForm.get('website')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Country Of Registration</label>
            <span>{{ personalInfoForm.get('country')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Registration Certificate No.</label>
            <span>{{ personalInfoForm.get('registrationCertificateNo')?.value }}</span>
          </div>
          <div class="summary-item">
            <label>Status</label>
            <span>{{ personalInfoForm.get('status')?.value }}</span>
          </div>
        </div>
          <div class="modal-btn-container">
          <button class="open-modal-btn" (click)="openCommunicationModal()">
            Update Communication Details</button>
        </div>
         @if(showCommunicationModal)
           {
          <div class="custom-modal-backdrop">
           <div class="custom-modal">
            <h3> Communication Details</h3>
            <form [formGroup]="personalInfoForm">
            <div class="form-section">
              <div class="form-row">
                <div class="form-group">
                  <label>Physical Address: <span class="required">*</span></label>
                  <input type="text" formControlName="physicalAddress">
                </div>
                <div class="form-group">
                  <label>Email: <span class="required">*</span></label>
                   <input type="text" formControlName="emailAddress">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label>Phone Number: <span class="required">*</span></label>
                  <input type="text" formControlName="phoneNo">
                </div>
                <div class="form-group">
                  <label>Postal Address:</label>
                  <input type="text" formControlName="postalAddress">
                </div>
              </div>
            </div>
            <div class="modal-actions">
              <button type="button" class="submit" (click)="onSubmitCommunicationInfo()" [disabled]="loading">
                 {{ loading ? 'Saving...' : (isEditMode ? 'Update' : 'Save') }}
              </button>
                <button type="button" class="submit" (click)="closeCommunicationModal()">Close</button>
            </div>
            </form>
            </div>
            </div>
           }
      </div>
         <!-- Area Of Focus -->
      @if(areaOfFocusList.length>0){
          <div class="form-section">
          <h3>Area Of Focus</h3>
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Area Of Focus</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                @for(focus of areaOfFocusList; track focus.lineNo){
                  <tr>
                  <td>{{focus.code}}</td>
                  <td>{{ focus.description }}</td>
                </tr>
                 }
              </tbody>
            </table>
          </div>
        </div>}
        <!-- Geo Coverage Table -->
        @if(geoCoverageList.length>0){
          <div class="form-section">
          <h3>Geo Coverage</h3>
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody>
                @for(geo of geoCoverageList; track geo.lineNo){
                <tr>
                  <td>{{ geo.country }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      }
     <h3>Program Experience</h3>
      <div class="form-section">
        <div class="modal-btn-container">
          <button class="open-modal-btn" (click)="openCustomModal()">Add Experience</button>
        </div>
         @if(showModal)
           {
          <div class="custom-modal-backdrop">
           <div class="custom-modal">
            <h3>Update Programme Experience Details</h3>
            <form [formGroup]="experienceForm">
            <div class="form-section">
              <div class="form-row">
                <div class="form-group">
                  <label>Major Donor/Partner: <span class="required">*</span></label>
                  <input type="text" formControlName="majorDonorOrPartner">
                </div>
                <div class="form-group">
                  <label>Project Type: <span class="required">*</span></label>
                    <select formControlName="projectType" class="form-input">
                      <option value="">Select</option>
                      <option value="Prime">Prime</option>
                      <option value="Sub-Prime">Sub-Prime</option>
                    </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label>Start Date: <span class="required">*</span></label>
                  <input type="date" formControlName="startDate">
                </div>
                <div class="form-group">
                  <label>End Date:</label>
                  <input type="date" formControlName="endDate">
                </div>
                <div *ngIf="experienceForm.hasError('dateRangeInvalid')" style="color:red;">
                  End date cannot be earlier than start date.
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label>Currency: <span class="required">*</span></label>
                    <select formControlName="currencyCode">
                      <option value="" [selected]=true disabled>Select</option>
                      @for (currency_type of currency_code_list; track currency_type.code) {
                      <option [value]="currency_type.code">
                        {{ currency_type.description}}
                      </option>}
                    </select>
                </div>
                <div class="form-group">
                  <label>Project Value: <span class="required">*</span></label>
                  <input type="text" formControlName="projectValue">
                </div>
              </div>
                <div class="form-group">
                  <label>Project Implementation Experience: <span class="required">*</span></label>
                    <textarea formControlName="description" rows="4" cols="40"
                    placeholder="Enter your description here..."></textarea>
                </div>
            </div>
            <div class="modal-actions">
              <button type="button" class="submit" (click)="onSubmitExperienceInfo()" [disabled]="loading">
                 {{ loading ? 'Saving...' : (isEditMode ? 'Update' : 'Save') }}
              </button>
                <button type="button" class="submit" (click)="closeCustomModal()">Close</button>
            </div>
            </form>
            </div>
            </div>
           }

        @if(experience.length>0)
        {
          <div class="form-section">
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Major Donor</th>
                  <th>Project Value</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for(experience of experience; track experience.lineNo){
                  <tr>
                  <td>{{ experience.majorDonorOrPartner }}</td>
                  <td>{{ experience.projectValue }}</td>
                  <td>{{ experience.startDate }}</td>
                  <td>{{ experience.endDate }}</td>
                  <td>{{ experience.description}}</td>
                  <td>
                   <button type="button" class="edit-btn" (click)="editRequest(experience)">
                      <img src="assets/edit.svg" alt="Edit" width="16" height="16" />
                      Edit
                   </button>
                   </td>
                </tr>
              }
              </tbody>
            </table>
          </div>
        </div>
      }
      </div>
        <h3>Contact Person</h3>
       <div class="form-section">
        <div class="modal-btn-container">
          <button class="open-modal-btn" (click)="openContactCustomModal()">Add Contact</button>
        </div>
       @if(showcontactModal)
           {
          <div class="custom-modal-backdrop">
           <div class="custom-modal">
              <form [formGroup]="contactPersonForm">
                  <div class="form-section">
                    <h4>Update Contact Person Details</h4>
                    <div class="form-row">
                      <div class="form-group">
                        <label>Contact Type(): <span class="required">*</span></label>
                          <select formControlName="contactType" class="form-input">
                            <option value="">Select</option>
                            <option value="Primary">Primary Contact</option>
                            <option value="Secondary">Secondary Contact</option>
                            <option value="Other">Other Contact</option>
                          </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group">
                        <label>Role: <span class="required">*</span></label>
                          <select formControlName="roleType">
                              <option value="" [selected]=true disabled>Select</option>
                              @for (contact_type of contact_type_list; track contact_type.code) {
                              <option [value]="contact_type.code">
                                {{ contact_type.description}}
                              </option>}
                            </select>
                      </div>
                      <div class="form-group">
                        <label>Email: <span class="required">*</span></label>
                        <input type="email" formControlName="emailAddress">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group">
                        <label>Phone Number: <span class="required">*</span></label>
                        <input type="text" formControlName="phoneNo">
                      </div>
                      <div class="form-group">
                        <label>Full Name: <span class="required">*</span></label>
                        <input type="text" formControlName="names">
                      </div>
                       <div class="form-group">
                        <label>Full Name: <span class="required">*</span></label>
                        <input type="text" formControlName="names">
                      </div>
                    </div>
                  </div>
                  <div class="modal-actions">
                    <button type="button" class="submit" (click)="contactPersonInfo()" [disabled]="loading">
                      {{ loading ? 'Saving...' : (isEditMode ? 'Update' : 'Save') }}
                    </button>
                      <button type="button" class="submit" (click)="closeContactModal()">Close</button>
                  </div>
                </form>
            </div>
            </div>
            }

      @if(contact_person_details_list.length>0){
          <div class="form-section">
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Email Address</th>
                  <th>Mobile No.</th>
                  <th>Contact Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              @for (contact of contact_person_details_list; track contact.lineNo){
                  <tr>
                  <td>{{ contact.names }}</td>
                  <td>{{ contact.emailAddress }}</td>
                  <td>{{ contact.phoneNo }}</td>
                  <td>{{ contact.contactType }}</td>
                  <td>
                   <button type="button" class="edit-btn" (click)="editContactRequest(experience)">
                      <img src="assets/edit.svg" alt="Edit" width="16" height="16" />
                      Edit
                   </button>
                   </td>
                </tr>
               }
              </tbody>
            </table>
          </div>
        </div>
      }
      </div>
      <!-- <h3>Board Members</h3>
       <div class="form-section">
        <div class="modal-btn-container">
          <button class="open-modal-btn" (click)="openBoardCustomModal()">Add Board Member</button>
        </div>
       @if(showBoardMembersModal)
           {
          <div class="custom-modal-backdrop">
           <div class="custom-modal">
              <form [formGroup]="boardMemberForm">
                  <div class="form-section">
                    <h4>Board Member Details</h4>
                    <div class="form-row">
                       <div class="form-group">
                        <label>Full Name: <span class="required">*</span></label>
                        <input type="text" formControlName="names">
                      </div>
                      <div class="form-group">
                        <label>Phone Number: <span class="required">*</span></label>
                        <input type="text" formControlName="phoneNo">
                      </div>
                    </div>
                     <div class="form-row">
                       <div class="form-group">
                        <label>Email Address: <span class="required">*</span></label>
                        <input type="text" formControlName="emailAddress">
                      </div>
                      <div class="form-group">
                        <label>Position: <span class="required">*</span></label>
                        <input type="text" formControlName="position">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Affiliation: <span class="required">*</span></label>
                       <input type="text" formControlName="affiliation">
                      </div>
                  </div>
                  <div class="modal-actions">
                    <button type="button" class="submit" (click)="boardInfo()" [disabled]="loading">
                      {{ loading ? 'Saving...' : (isEditMode ? 'Update' : 'Save') }}
                    </button>
                      <button type="button" class="submit" (click)="closeboardModal()">Close</button>
                  </div>
                </form>
            </div>
            </div>
            }

      @if(board_members_list_line.length>0){
          <div class="form-section">
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Mobile No.</th>
                  <th>Email Address</th>
                  <th>Position</th>
                  <th>Affiliation</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              @for (contact of board_members_list_line; track contact.lineNo){
                  <tr>
                  <td>{{ contact.names }}</td>
                  <td>{{ contact.phoneNo }}</td>
                  <td>{{ contact.emailAddress }}</td>
                  <td>{{ contact.position }}</td>
                  <td>{{ contact.affiliation }}</td>
                  <td>
                   <button type="button" class="edit-btn" (click)="editContactRequest(experience)">
                      <img src="assets/edit.svg" alt="Edit" width="16" height="16" />
                      Edit
                   </button>
                   </td>
                </tr>
               }
              </tbody>
            </table>
          </div>
        </div>
      }
      </div>

        <h3>Staff Members</h3>
       <div class="form-section">
        <div class="modal-btn-container">
          <button class="open-modal-btn" (click)="openSatffCustomModal()">Add Board Member</button>
        </div>
       @if(showStaffMembersModal)
           {
          <div class="custom-modal-backdrop">
           <div class="custom-modal">
              <form [formGroup]="staffMemberForm">
                  <div class="form-section">
                    <h4>Staff Member Details</h4>
                    <div class="form-row">
                       <div class="form-group">
                        <label>Full Name: <span class="required">*</span></label>
                        <input type="text" formControlName="names">
                      </div>
                      <div class="form-group">
                        <label>Phone Number: <span class="required">*</span></label>
                        <input type="text" formControlName="phoneNo">
                      </div>
                    </div>
                     <div class="form-row">
                       <div class="form-group">
                        <label>Email Address: <span class="required">*</span></label>
                        <input type="text" formControlName="emailAddress">
                      </div>
                      <div class="form-group">
                        <label>Position: <span class="required">*</span></label>
                        <input type="text" formControlName="position">
                      </div>
                    </div>
                   </div>
                  <div class="modal-actions">
                    <button type="button" class="submit" (click)="staffInfo()" [disabled]="loading">
                      {{ loading ? 'Saving...' : (isEditMode ? 'Update' : 'Save') }}
                    </button>
                      <button type="button" class="submit" (click)="closeStaffModal()">Close</button>
                  </div>
                </form>
            </div>
            </div>
            }

      @if(board_members_list_line.length>0){
          <div class="form-section">
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Mobile No.</th>
                  <th>Email Address</th>
                  <th>Position</th>
                  <th>Affiliation</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              @for (contact of board_members_list_line; track contact.lineNo){
                  <tr>
                  <td>{{ contact.names }}</td>
                  <td>{{ contact.phoneNo }}</td>
                  <td>{{ contact.emailAddress }}</td>
                  <td>{{ contact.position }}</td>
                  <td>{{ contact.affiliation }}</td>
                  <td>
                   <button type="button" class="edit-btn" (click)="editContactRequest(experience)">
                      <img src="assets/edit.svg" alt="Edit" width="16" height="16" />
                      Edit
                   </button>
                   </td>
                </tr>
               }
              </tbody>
            </table>
          </div>
        </div>
      }
      </div> -->



      <div class="action-buttons">
       <button type="button" class="back" (click)="onCancel()">Close</button>
      </div>
    </div>
