<div class="new-payment-request-container">
  <app-sidebar [sidebarType]="'finance'" [(open)]="sidebarOpen"></app-sidebar>

  <div class="main-content">
    <app-header
      title="Cash Surrender"
      subtitle="Finance Services/Payment Request"
      headerClass="finance"
      [showBackButton]="true"
      [(sidebarOpen)]="sidebarOpen">
    </app-header>
    <div class="new-payment-request-content">
     <div class="new-payment-request-section card-effect">
       <div class="section-header">
        <h2>Cash Surrender</h2>
       </div>
    <div class="new-payment-request-content">
    <form [formGroup]="surrenderForm">
      <div class="form-section">
        <div class="form-row">
          <div class="form-group">
           <label>Select Cash Request: *</label>
            <select formControlName="paymentRequest">
              <option value="">Select Cash Request</option>
               <option value="PR-001">PR-001 - Medical Supplies</option>
                <option value="PR-002">PR-002 - Equipment Purchase</option>
            </select>
          </div>
          <div class="form-group">
              <label>Currency</label>
              <select formControlName="currencyCode">
                  <option value="" [selected]=true disabled>Select</option>
                  @for (currency_type of currency_code_list; track currency_type.code) {
                  <option [value]="currency_type.code">
                    {{ currency_type.description}}
                  </option>}s
                </select>
          </div>
        </div>
         <div class="form-group">
           <label>Disbursed Amount:</label>
            <input type="number" formControlName="disbursedAmount" readonly>
          </div>
        <div class="form-row">
          <div class="form-group">
            <label>Surrendered Amount:</label>
             <input type="number" formControlName="surrenderedAmount">
          </div>
           <div class="form-group">
             <label>Start Date</label>
             <input type="date" formControlName="startDate">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>End Date</label>
             <input type="date" formControlName="endDate">
          </div>
          <div class="form-group">
             <label>Surrender Date:</label>
             <input type="date" formControlName="surrenderDate">
          </div>
        </div>
        </div>
     </form>
    </div>
   <div class="modal-btn-container">
      <button class="open-modal-btn" (click)="openCustomModal()">Add Cash Surrender</button>
    </div>
   <!-- Custom Modal -->
  @if(showModal)
  {
    <div class="custom-modal-backdrop">
    <div class="custom-modal">
      <h3>Cash Surender</h3>
        <form [formGroup]="surrenderLineForm">
          <div class="modal-row">
            <div class="form-field">
             <label>Category</label>
                <select formControlName="category">
                  <option value="" [selected]="true" disabled>Select Category</option>
                  @for (category of category_list; track category.code) {
                    <option [value]="category.code">
                      {{ category.description }}
                    </option>
                  }
                </select>
            </div>
              <div class="form-field">
                <label>Amount Received</label>
               <input formControlName="amountReceived">
              </div>
            </div>
            <div class="modal-row">
             <div class="form-field">
               <label>Amount Spent</label>
               <input formControlName="currencyCode">
            </div>
            <div class="form-field">
              <label>Balance</label>
              <input formControlName="balance">
            </div>
            </div>
           <div class="modal-row">
             <div class="form-field">
               <label>Currency</label>
               <input formControlName="currencyCode">
            </div>
          </div>
          <div class="modal-row">
            <div class="form-field full-width">
              <label>Description</label>
              <textarea formControlName="description"></textarea>
            </div>
          </div>
          <div class="modal-actions">
            <button type="button"  class="submit" (click)="saveModal()">Save</button>
            <button type="button" class="submit" (click)="closeCustomModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  }

      <table class="request-line-table">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Amount Received</th>
                  <th>Amount Spent</th>
                  <th>Balance</th>
                  <th>Description</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let row of paymentApplicationLines">
                  <td>{{ row.category }}</td>
                  <td>{{ row.amountReceived }}</td>
                  <td>{{ row.amountSpent }}</td>
                  <td>{{ row.balance }}</td>
                  <td>{{ row.description }}</td>
                </tr>
              </tbody>
            </table>
              <div class="section-footer">
            <input type="checkbox" (change)="onCheckboxChange($event)" />
            <span>I confirm that the provided information is accurate.</span>
            <button class="submit"
                    (click)="onSubmitPaymentHeader()"
                    [disabled]="!isConfirmed">
              @if(loading)
              {
                <span class="spinner"></span>}
              Submit
            </button>
            <button class="submit" (click)="onCancel()">Close</button>
          </div>
              <app-footer></app-footer>
            </div>
    </div>
    </div>

