<div class="new-payment-request-container">
  <app-sidebar [sidebarType]="'finance'" [(open)]="sidebarOpen"></app-sidebar>

  <div class="main-content">
    <app-header
      title="Cash Surrender"
      subtitle="Finance Services/Payment Request"
      headerClass="finance"
      [showBackButton]="true"
      [(sidebarOpen)]="sidebarOpen">
    </app-header>
    <div class="new-payment-request-content">
     <div class="new-payment-request-section card-effect">
       <div class="section-header">
        <h2>Cash Surrender</h2>
       </div>
    <div class="new-payment-request-content">
    <form [formGroup]="surrenderForm">
      <div class="form-section">
         <div class="form-group">
           <label>No.</label>
            <input type="text" formControlName="no" readonly>
          </div>
          <div class="form-row">
            </div>
        <div class="form-row">
          <div class="form-group">
           <label>Select Cash Request: *</label>
             <input type="text" formControlName="paymentRequestNo" readonly>
          </div>
          <div class="form-group">
              <label>Currency</label>
              <input type="text" formControlName="currencyCode" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Approved Amount:</label>
              <input type="text" formControlName="disbursedAmount" readonly>
            </div>
          <div class="form-group">
            <label>Surrendered Amount:</label>
             <input type="text" formControlName="surrenderedAmount">
          </div>
          </div>
          <div class="form-group">
            <label>Description:</label>
              <textarea formControlName="description"></textarea>
          </div>
         <div class="form-row">
          <div class="form-group">
            <label>Status:</label>
              <input type="text" formControlName="status" readonly>
            </div>
        </div>
             @if(uploaded_document_list.length>0){
         <h3>Uploaded Document(s)</h3>
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Document Type</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              @for (contact of uploaded_document_list; track contact.lineNo){
                  <tr>
                  <td>{{ contact.documentCode }}</td>
                  <td>{{ contact.documentDescription }}</td>
                  <td>
                   <ng-container *ngIf="contact.localFileURL;">
                    <a [href]="contact.localFileURL" target="_blank" rel="noopener noreferrer">View Document</a>
                  </ng-container>
                  </td>
                </tr>
               }
              </tbody>
            </table>
          </div>
        }
        </div>
     </form>
    </div>
    <table class="request-line-table">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Approved Amount</th>
                   <th>Approved Amount(LCY)</th>
                  <th>Amount Spent</th>
                  <th>Description</th>
                </tr>
              </thead>

              <tbody>
                 @for(row of paymentApplicationLines; track row)
                 {
                 <tr>
                  <td>{{row.category}}</td>
                  <td>{{row.amountAdvanced}}</td>
                  <td>{{row.amountAdvancedLCY}}</td>
                  <td>{{row.actualSpent}}</td>
                  <td>{{row.description}}</td>
                </tr>
              }
              </tbody>
            </table>
              <div class="section-footer">
            <button class="submit" (click)="onCancel()">Close</button>
          </div>
              <app-footer></app-footer>
            </div>
    </div>
    </div>

