<div class="login-container">
  <!-- Left Side - Logo -->
  <div class="logo-section">
    <div class="logo-container">
      <img src="assets/logo.svg" alt="InSupplyHealth Logo" class="logo" />
    </div>
  </div>

  <!-- Right Side - Login Form -->
  <div class="form-section">
    <div class="form-container">
      <h1 class="welcome-title">Welcome Back</h1>
      <p class="welcome-subtitle">Enter your email and password to sign in</p>

      <form [formGroup]="LoginForm" (submit)="onLogin()" class="login-form">
        <div class="form-group">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" formControlName="emailAddress" placeholder="Your email address" class="form-input" required>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Password</label>
           <input type="password" class="form-input" formControlName="password" placeholder="Your Password">
        </div>
        <button type="submit" class="login-button">LOG IN</button>
        <div class="forgot-password">
          Forgot Password?
          <a (click)="goToReset()" class="reset-link">Reset</a>
          <span class="separator">|Don't have account?</span>
          <a (click)="goToRegister($event)" class="register-link">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
