<div class="new-payment-request-container">
  <app-sidebar [sidebarType]="'finance'" [(open)]="sidebarOpen"></app-sidebar>
  
  <div class="main-content">
    <app-header 
      title="PAYMENT REQUEST" 
      subtitle="Finance Services/Payment Request"
      headerClass="finance"
      [showBackButton]="true"
      [(sidebarOpen)]="sidebarOpen">
    </app-header>
    
    <div class="new-payment-request-content">
    <form [formGroup]="paymentRequestForm" (ngSubmit)="onSubmit()">
      <div class="form-section">
        <div class="form-row">
          <div class="form-group">
            <label>Project Code</label>
            <input type="text" formControlName="projectCode">
          </div>
          <div class="form-group">
            <label>Sub-Award End Date</label>
            <input type="date" formControlName="subAwardEndDate">
          </div>   
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Purpose</label>
            <input type="text" formControlName="purpose">
          </div>
          <div class="form-group">
            <label>Currency Code</label>
            <input type="text" formControlName="currencyCode">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Reporting Cycle</label>
            <input type="text" formControlName="reportingCycle">
          </div>
          <div class="form-group">
            <label>Budget Amount</label>
            <input type="text" formControlName="budgetAmount">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Budget Amount LCY</label>
            <input type="text" formControlName="budgetAmountLCY">
          </div>
          <div class="form-group">
            <label>Obligated Amount</label>
            <input type="text" formControlName="obligatedAmount">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Obligated Amount LCY</label>
            <input type="text" formControlName="obligatedAmountLCY">
          </div>
          <div class="form-group">
            <label>Sub-Award Title</label>
            <input type="text" formControlName="subAwardTitle">
          </div>
          </div>
        </div>
        <button type="submit" [disabled]="!paymentRequestForm.valid">Submit</button>
      </form>
    </div>
   <div class="modal-btn-container">
      <button class="open-modal-btn" (click)="openCustomModal()">Open Modal</button>
    </div>
   <!-- Custom Modal -->
  <div class="custom-modal-backdrop" *ngIf="showModal">
    <div class="custom-modal"> 
      <h3>Add Line Details</h3>
        <form [formGroup]="paymentRequestLineForm">
          <div class="modal-row">
            <input placeholder="Project Code" formControlName="projectCode">
            <input placeholder="Project Name" formControlName="projectName">
          </div>
          <div class="modal-row">
            <input placeholder="Activity Code" formControlName="activityCode">
            <input placeholder="Activity Name" formControlName="activityName">
          </div>
          <div class="modal-row">
            <input placeholder="Application Date" type="date" formControlName="applicationDate">
          </div>
          <div class="modal-row">
            <input placeholder="Applied Amount" formControlName="appliedAmount">
            <input placeholder="Applied Amount LCY" formControlName="appliedAmountLCY">
          </div>
          <div class="modal-row">
            <input placeholder="Obligated Amount" formControlName="obligatedAmount">
            <input placeholder="Obligated Amount LCY" formControlName="obligatedAmountLCY">
          </div>
          <div class="modal-row">
            <textarea placeholder="Description" formControlName="description"></textarea>
          </div>
          <div class="modal-actions">
            <button type="button"  class="submit" (click)="saveModal()">Save</button>
            <button type="button" class="submit" (click)="closeCustomModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
