<div class="login-container">
  <!-- Left Side - Logo -->
  <div class="logo-section">
    <div class="logo-container">
      <img src="assets/logo.svg" alt="InSupplyHealth Logo" class="logo" />
    </div>
  </div>

  <!-- Right Side - Login Form -->
  <div class="form-section">
    <div class="form-container">
      <h1 class="welcome-title">Get Insupply Account</h1>
      <!-- <p class="welcome-subtitle">Enter your email and password to sign in</p> -->

      <form [formGroup]="SignUpForm" (submit)="onSignup()" class="login-form">
        <div class="form-group">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" formControlName="emailAddress"  placeholder="Organization Email Address" class="form-input" required>
        </div>

        <div class="form-group">
          <label class="form-label">Tax Registration Number</label>
           <input type="text" class="form-input" formControlName="taxRegistrationNumber" placeholder="Tax Rgistration Number">
        </div>

        <div class="form-group">
          <label  class="form-label">Organization Name</label>
           <input type="text" class="form-input" formControlName="legalNameOfOrganization" placeholder="Organization Name">
        </div>

        <button type="submit" class="login-button">LOG IN</button>
        <div class="forgot-password">
          Forgot Password?
          <span class="separator">|</span>
          <a href="#" (click)="goToLogin($event)" class="register-link">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
