@if (open) {
  <div class="sidebar-overlay" (click)="closeSidebar()"></div>
}
<div class="sidebar" [ngClass]="{ 'sidebar-open': open }">
  <div class="logo-container">
    <div class="logo">
      <img class="logo-icon" src="assets/logo.svg" alt="inSupplyHealth Logo" />
      <!-- <span class="logo-text">inSupplyHealth</span> -->
    </div>
  </div>

  <!-- Partners Portal Sidebar -->
  <div class="sidebar-content">
    <nav class="nav-menu">
      <a routerLink="/funding-request" routerLinkActive="active" class="nav-item">
        <i class="icon-payment">
          <img src="assets/payment-request.svg" alt="Payment Request" width="20" height="20">
        </i>
        Funding Application
      </a>
      <a routerLink="/approved-funding" routerLinkActive="active" class="nav-item">
        <i class="icon-approved">
          <img src="assets/approve.svg" alt="Approved Funding" width="20" height="20">
        </i>
        Approved Projects
      </a>

      <a routerLink="/cash-request" routerLinkActive="active" class="nav-item">
        <i class="icon-payment">
          <img src="assets/payment-request.svg" alt="Payment Request" width="20" height="20">
        </i>
      Cash Request
      </a>
      <a routerLink="/payment-surrender" routerLinkActive="active" class="nav-item">
        <i class="icon-surrender">
          <img src="assets/payment-surrender.svg" alt="Payment Surrender" width="20" height="20">
        </i>
        Cash Surrender
      </a>

      <a routerLink="/reimbursements" routerLinkActive="active" class="nav-item">
        <i class="icon-reimbursements">
          <img src="assets/reimbursement.svg" alt="Reimbursements" width="20" height="20">
        </i>
        Reports
      </a>
       <a routerLink="/profile" routerLinkActive="active" class="nav-item">
        <i class="icon-reimbursements">
          <img src="assets/user.svg" alt="Reimbursements" width="20" height="20">
        </i>
        Profile
        </a>
        
    </nav>
  </div>
</div>
