<div class="login-container">
  <div class="form-section">
    <div class="form-container">

      <h1 class="welcome-title">Reset Password</h1>

      <form
        [formGroup]="ResetPasswordForm"
        (ngSubmit)="onReset()"
        class="login-form"
      >

        <!-- ===== PASSWORD ===== -->
        <div class="form-group">
          <label class="form-label">Password</label>

          <input
            type="password"
            formControlName="password"
            placeholder="New password"
            class="form-input"
          >

          <!-- Validation messages -->
          <small class="error"
            *ngIf="ResetPasswordForm.get('password')?.touched
                   && ResetPasswordForm.get('password')?.hasError('required')">
            Password is required
          </small>
          <small class="error"
            *ngIf="ResetPasswordForm.get('password')?.touched
                   && ResetPasswordForm.get('password')?.hasError('pattern')">
            Password must be at least 8 characters and include:
            <br>• One uppercase letter
            <br>• One lowercase letter
            <br>• One number
            <br>• One special character
          </small>
        </div>
        <div class="form-group">
          <label class="form-label">Confirm Password</label>
          <input type="password" class="form-input" formControlName="confirmPassword"
            placeholder="Confirm password"
          >
          <small class="error"
            *ngIf="ResetPasswordForm.get('confirmPassword')?.touched
                   && ResetPasswordForm.get('confirmPassword')?.hasError('required')">
            Confirm password is required
          </small>
          <small class="error"
            *ngIf="ResetPasswordForm.errors?.['passwordMismatch']
                   && ResetPasswordForm.get('confirmPassword')?.touched">
            Passwords do not match
          </small>
        </div>
        <button
          type="submit" class="login-button" [disabled]="ResetPasswordForm.invalid">
          {{ loading ? 'Resetting ...' : 'RESET PASSWORD'}} 
        </button>
      </form>
    </div>
  </div>
</div>
