<div class="payment-request-container">
  <app-sidebar [sidebarType]="'finance'" [(open)]="sidebarOpen"></app-sidebar>

  <div class="main-content">
    <app-header
      title="CASH REQUEST"
      subtitle="Finance Services/Cash Request"
      headerClass="finance"
      [showBackButton]="false"
      [(sidebarOpen)]="sidebarOpen">
    </app-header>

    <div class="payment-request-content">
      <div class="card-header">
        <h2>CASH REQUEST</h2>
        <button class="add-new-btn" (click)="createNewPaymentRequest()">
          <img src="assets/add.svg" alt="Add" width="24" height="24" />
          ADD NEW CASH REQUEST
        </button>
      </div>

      <div class="card-body">
        <button class="filter-btn">
          <img src="assets/filter.svg" alt="Add filter" width="10" height="10" style="margin-right: 6px;" /> Add filter
        </button>
        <div class="search-box">
          <img src="assets/search.svg" alt="Search here" width="10" height="10" class="search-icon" />
          <input type="text" placeholder="Search here" [(ngModel)]="searchTerm">
        </div>
      </div>
      <div class="table-container">
        <table class="payment-table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Application Date</th>
              <th>Project Code</th>
              <th>Purpose</th>
              <th>Budget Amount</th>
              <th>Budget Amount LCY</th>
              <th>Obligated Amount</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
           @for (request of cash_request_list ; track request.no ) {
             <tr>
                <td>{{request.no}}</td>
                <td>{{request.applicationDate}}</td>
                <td>{{request.projectCode}}</td>
                <td>{{request.purpose}}</td>
                <td>{{request.budgetAmount}}</td>
                <td>{{request.budgetAmountLCY}}</td>
                <td>{{request.obligatedAmountLCY}}</td>
                <td>{{request.status}}</td>
                <td class="action-cell">
                  <button class="action-btn edit-btn" (click)="editRequest(request.no)">
                    <img src="assets/edit.svg" alt="Edit" width="16" height="16" />
                    EDIT
                  </button>
                </td>
            </tr>}
          </tbody>
        </table>
      </div>
   
    </div>
    <app-footer></app-footer>
  </div>
</div>
